---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { getDates } from "../utils/dates";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        list-style-type: none;
        padding-left: 0;
      }
      .card {
        display: flex;
        border-bottom: 3px solid #ccc;
        padding: 0.25em;
        margin: 0;
      }
      ul li a {
        width: 100%;
        text-decoration: none;
        padding-block: 2em;
        padding-inline: 1em;
        border-radius: 0.5em;
      }
      ul li a:hover {
        background-color: #eee;
      }
      ul li a h3 {
        margin: 0;
        color: var(--primary-600);
        font-size: 1.7em;
      }
      ul li a:visited h3 {
        color: var(--primary-800);
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul style="padding-left:0;">
          {
            posts.map((post) => (
              <li class="card">
                <a href={post.url}>
                  <h3>{post.frontmatter.title}</h3>
                  <time class="text-gray" datetime={post.frontmatter.pubDate}>
                    {getDates(post.frontmatter.pubDate)}
                  </time>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
