---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getDates } from "../utils/dates";
import TagList from "../components/TagList.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, tags } =
  Astro.props.frontmatter || Astro.props;

// const frontmatter = Astro.props?.frontmatter || Astro.props;
// console.log(frontmatter);
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .title-header {
        margin-bottom: 2em;
      }
      .title {
        font-size: 2em;
        margin: 0;
      }
      .title-description {
        margin-block: 0rem;
      }
      hr {
        border-top: 1px solid var(--gray-300);
        margin: 1rem 0;
      }
      .hero {
        margin-block: 2em;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article style="position:relative;">
        <header class="title-header">
          <h1 class="title">{title}</h1>
          <p class="title-description">{description}</p>
          {tags && <TagList tags={tags} />}
          <div class="text-gray">
            <div>
              {
                pubDate && (
                  <>
                    게시일 <time>{getDates(pubDate)}</time>
                  </>
                )
              }
              {
                updatedDate && (
                  <>
                    수정일 <time>{getDates(updatedDate)}</time>
                  </>
                )
              }
            </div>
          </div>
        </header>
        {
          (
            <img
              class="hero"
              width={480}
              height={240}
              src={heroImage ?? "/placeholder-hero.jpg"}
              alt=""
            />
          )
        }
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
