---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getDates } from "../utils/dates";
import TagList from "../components/TagList.astro";
import type { Tags } from "../components/TagList.astro";

export interface BlogProps {
  title: string;
  description: string;
  pubDate?: string;
  updatedDate?: string;
  heroImage?: string;
  tags?: Tags;
}

interface Props {
  content: BlogProps;
}

const {
  content: { title, description, pubDate, updatedDate, heroImage, tags },
} = Astro.props as Props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .title-header {
        margin-bottom: 2em;
      }
      .title {
        font-size: 2em;
        margin: 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
      .hero {
        margin-block: 2em;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article style="position:relative;">
        <header class="title-header">
          <h1 class="title">{title}</h1>
          <div class="text-gray">
            <div>
              {
                pubDate && (
                  <>
                    게시일{" "}<time class="font-lighter">{getDates(pubDate)}</time>
                  </>
                )
              }
              {
                updatedDate && (
                  <>
                    수정일{" "}<time class="font-lighter">{updatedDate}</time>
                  </>
                )
              }
            </div>
          </div>
          {tags && <TagList tags={tags} />}
        </header>
        {
          (
            <img
              class="hero"
              width={480}
              height={240}
              src={heroImage ?? "/placeholder-hero.jpg"}
              alt=""
            />
          )
        }
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
